<!DOCTYPE html>
<html lang="en"> 
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%>-MMall电商平台</title>
</head>
<body>
    <%= require('html-loader!./layout/nav.html') %> 
    <%= require('html-loader!./layout/header.html') %>
    <!-- 面包屑导航 -->
    <div class="crumb">
        <div class="w">
            <div class="crumb-con">
                <a href="./index.html" class="link">MMall</a>
                <span>></span>
                <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
            </div>
        </div>
    </div>

    <div class="page-wrap w">
        <%= require('html-loader!./layout/nav-side.html') %>
        <div class="content with-nav">
            <div class="panel">
                <h1 class="panel-title"></h1>
                <div class="panel-body">
                    欢迎访问我搭建的电商Demo,更多详细信息请访问我的博客：
                    <a href="https://blog.csdn.net/iRico1/article/details/97812637" class="link" target="_blank" style="color: #c60023">我的博客链接>></a>
                </div>
            </div>
        </div>
    </div>
    
    <%= require('html-loader!./layout/footer.html') %>
</body>
</html>
